[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w before-sleep 'qs -c noctalia-shell ipc call lockScreen lock'
Restart=on-failure
