input {
    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
        accel-speed -0.8
    }
}

/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}

output "PNP(WSX) SGD SX8 0x00000321" {
    scale 2
}

layout {
    gaps 10
    center-focused-column "on-overflow"
    always-center-single-column
    empty-workspace-above-first
    background-color "transparent"

    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    preset-window-heights { 
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    default-column-width {}

    focus-ring {
        width 2
        active-gradient from="#80c8ff" to="#404040" angle=45
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=5 y=5
        color "#0007"
    }

    tab-indicator {
        inactive-color "#666666"
        gaps-between-tabs 4
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 0.5 
}

window-rule {
    geometry-corner-radius 10 
    clip-to-geometry true
    open-maximized true 
    open-maximized-to-edges false
    open-fullscreen false 
    default-column-display "tabbed"
}

window-rule {
    match app-id="" title="Picture in picture"
    open-floating true
    open-focused false
    default-floating-position x=25 y=25 relative-to="bottom-right"
    default-window-height { proportion 0.3; }
    default-column-width  { proportion 0.25; }
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24 
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q  { close-window; }
    Alt+F4 { close-window; }

    Mod+H { focus-column-or-monitor-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-or-monitor-right; }

    Mod+Shift+H { move-column-left-or-to-monitor-left; }
    Mod+Shift+J { move-column-to-workspace-down; }
    Mod+Shift+K { move-column-to-workspace-up; }
    Mod+Shift+L { move-column-right-or-to-monitor-right; }

    Mod+Left  { focus-monitor-left; }
    Mod+Down  { focus-monitor-down; }
    Mod+Up    { focus-monitor-up; }
    Mod+Right { focus-monitor-right; }

    Mod+Shift+Left  { move-column-to-monitor-left; }
    Mod+Shift+Down  { move-column-to-monitor-down; }
    Mod+Shift+Up    { move-column-to-monitor-up; }
    Mod+Shift+Right { move-column-to-monitor-right; }

    Mod+Ctrl+Left  { move-workspace-to-monitor-left; }
    Mod+Ctrl+Down  { move-workspace-down; }
    Mod+Ctrl+Up    { move-workspace-up; }
    Mod+Ctrl+Right { move-workspace-to-monitor-right; }

    Mod+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight       { focus-column-right; }
    Mod+WheelScrollLeft        { focus-column-left; }
    Mod+Shift+WheelScrollRight { move-column-right; }
    Mod+Shift+WheelScrollLeft  { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Z       { switch-preset-column-width; }
    Mod+Shift+Z { switch-preset-window-height; }
    Mod+F       { toggle-windowed-fullscreen; }
    Mod+Shift+F { fullscreen-window; }
    Mod+M       { maximize-window-to-edges; }
    Mod+Shift+M { maximize-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Alt+Shift+Space { toggle-window-floating; }
    Alt+Space       { switch-focus-between-floating-and-tiling; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Ctrl+Alt+Delete { quit; }

    Print           { screenshot; }
    Shift+Print     { screenshot-screen; }
    Mod+Shift+Print { screenshot-window; }

    Mod+T           hotkey-overlay-title="Toggle timer"                     { spawn-sh "run.timer.nu"; }
    Mod+P           hotkey-overlay-title="Open color picker"                { spawn-sh "run.niri-pick-color.sh"; }
    Mod+B           hotkey-overlay-title="Open browser: chrome"             { spawn-sh "google-chrome-stable"; }
    Mod+Y           hotkey-overlay-title="Open file manager: yazi"          { spawn-sh "run.term.sh yazi"; }
    Mod+Return      hotkey-overlay-title="Open a terminal: kitty"           { spawn-sh "kitty"; }
    Mod+E           hotkey-overlay-title="Open file manager: nautilus"      { spawn-sh "nautilus"; }
    Mod+Period      hotkey-overlay-title="Open emoji picker: emote"         { spawn-sh "emote"; }
}

hotkey-overlay {
    skip-at-startup
}


overview {
    zoom 0.4
}

environment {
    XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

include "./noctalia.kdl"
include "./ns-specific.kdl"
