// For dms
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

// For dms
layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

// For dms: block out sensitive components from screencasts
layer-rule {
    match namespace="^dms:clipboard$"
    match namespace="^dms:notification-popup$"
    match namespace="^dms:toast$"
    block-out-from "screencast"
}

// For dms
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

// For dms
window-rule {
    match app-id="Alacritty"
    match app-id="kitty"
    draw-border-with-background false
}

// For dms
window-rule {
    match is-active=false
    // opacity 0.8
}

// For dms
binds {
    XF86AudioRaiseVolume        allow-when-locked=true { spawn-sh "dms ipc call audio increment 5"; }
    Ctrl+Alt+BracketRight       allow-when-locked=true { spawn-sh "dms ipc call audio increment 5"; }
    XF86AudioLowerVolume        allow-when-locked=true { spawn-sh "dms ipc call audio decrement 5"; }
    Ctrl+Alt+BracketLeft        allow-when-locked=true { spawn-sh "dms ipc call audio decrement 5"; }
    XF86AudioMute               allow-when-locked=true { spawn-sh "dms ipc call audio mute"; }
    XF86AudioMicMute            allow-when-locked=true { spawn-sh "dms ipc call audio micmute"; }
    XF86MonBrightnessUp         allow-when-locked=true { spawn-sh "dms ipc call brightness increment 2 \"\""; }
    XF86MonBrightnessDown       allow-when-locked=true { spawn-sh "dms ipc call brightness decrement 2 \"\""; }
    XF86AudioPlay               allow-when-locked=true { spawn-sh "dms ipc call mpris playPause"; }
    Ctrl+Alt+P                  allow-when-locked=true { spawn-sh "dms ipc call mpris playPause"; }

    Mod+Shift+B     hotkey-overlay-title="Toggle battery manager: dms"      { spawn-sh "dms ipc call widget toggle battery"; }
    Mod+W           hotkey-overlay-title="Toggle control center: dms"       { spawn-sh "dms ipc call control-center toggle"; }
    Mod+P           hotkey-overlay-title="Open color picker: dms"           { spawn-sh "dms color pick -a"; }
    Mod+Shift+P     hotkey-overlay-title="Toggle pomodoro timer: dms"       { spawn-sh "dms ipc call widget toggle dankPomodoroTimer"; }
    Mod+Shift+Q     hotkey-overlay-title="Toggle power menu: dms"           { spawn-sh "dms ipc call powermenu toggle"; }
    Alt+Space       hotkey-overlay-title="Toggle spotlight: dms"            { spawn-sh "dms ipc call spotlight toggle"; }
    Mod+S           hotkey-overlay-title="Toggle settings: dms"             { spawn-sh "dms ipc call settings toggle"; }
    Mod+Shift+S     hotkey-overlay-title="Toggle screen widgets: dms"       { spawn-sh "dms ipc call bar toggle index 0"; }
    Mod+Shift+C     hotkey-overlay-title="Toggle resource monitor: dms"     { spawn-sh "dms ipc call widget toggle cpuUsage"; }
    Mod+N           hotkey-overlay-title="Toggle notification center: dms"  { spawn-sh "dms ipc call notifications toggle"; }
    Mod+Shift+N     hotkey-overlay-title="Dismiss popup notifications: dms" { spawn-sh "dms ipc call notifications dismissAllPopups"; }
    Mod+D           hotkey-overlay-title="Open dash: dms"                   { spawn-sh "dms ipc call dash toggle overview"; }
    Mod+V           hotkey-overlay-title="Toggle clipboard: dms"            { spawn-sh "dms ipc call clipboard toggle"; }
    Print           hotkey-overlay-title="Screenshot: dms"                  { spawn-sh "dms screenshot --stdout | satty -f - -o ~/Pictures/Screenshots/$(date +'%Y-%m-%d_%H-%M-%S').png"; }
    Mod+Print       hotkey-overlay-title="Screenshot screen: dms"           { spawn-sh "dms screenshot full --stdout | satty -f - -o ~/Pictures/Screenshots/$(date +'%Y-%m-%d_%H-%M-%S').png";  }
}

// For dms
switch-events {
    tablet-mode-on  { spawn "bash" "-c" "dms ipc call bar reveal index 0 && dms ipc call dock manualHide"; }
    tablet-mode-off { spawn "bash" "-c" "dms ipc call bar hide index 0 && dms ipc call dock autoHide && ~/scripts/kill-osk.sh"; }
}

// For dms: clipboard history
spawn-sh-at-startup "bash -c wl-paste --watch cliphist store &"
